body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'gagalinregular', 'lifehackmedium', 'ubuntu';
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #bd3d1a; }

.nav-section {
  width: 26px;
  height: 185px;
  position: fixed;
  top: 75px;
  right: 50px; }

.sidebar__item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  margin-bottom: 15px; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.section__start {
  background-image: url(../img/bg/video-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-family: 'ubuntu';
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.start__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.start__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.start__img, .start__description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.start__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'gagalinregular';
  font-size: 72px;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.start__description-text {
  color: #ffffff;
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1.42; }

.section__best {
  background-image: url(../img/bg/bg2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.best__item {
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  text-align: center; }

.best__title {
  font-family: 'lifehackmedium';
  font-size: 24px;
  font-weight: normal;
  line-height: 1.42;
  text-decoration: none; }

.best__text {
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.45;
  text-decoration: none; }

.section__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }
  .reviews__item:hover .reviews__info {
    display: block; }

.reviews__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.item__photo-1 {
  background-image: url(../img/content/image_1.png); }

.item__photo-2 {
  background-image: url(../img/content/image_2.png);
  background-position: 10% 10%; }

.item__photo-3 {
  background-image: url(../img/content/image_3.png);
  background-position: center; }

.item__photo-4 {
  background-image: url(../img/content/image_4.png);
  background-position: center; }

.item__photo-5 {
  background-image: url(../img/content/image_5.png);
  background-position: center; }

.item__photo-6 {
  background-image: url(../img/content/image_6.png);
  background-position: center; }

.item__photo-7 {
  background-image: url(../img/content/image_7.png);
  background-position: center; }

.item__photo-8 {
  background-image: url(../img/content/image_8.png);
  background-position: center; }

.reviews__info {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 3.125rem;
  display: none;
  background-color: black;
  opacity: 0.4; }

.reviews__name {
  width: 230px;
  height: 30px;
  color: #ffffff;
  font-family: 'gagalinregular';
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42;
  text-decoration: none;
  margin-left: 2.1875rem; }

.reviews__message {
  width: 230px;
  height: 150px;
  color: #ffffff;
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42;
  text-decoration: none;
  margin-left: 2.1875rem; }

.review__btn {
  width: 110px;
  height: 35px;
  background-color: #2f3234;
  border-radius: 3px;
  margin-left: 2.1875rem;
  color: #ffffff;
  text-align: center;
  padding-top: 8px;
  font-family: 'ubuntu';
  font-weight: 500;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42; }
  .review__btn:hover {
    cursor: pointer;
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s; }
