.section__menu {
    background-image: url(../img/bg/bg-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section__title-menu {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
}

.accordeon-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
}

.accordeon-menu__sections {
    height: 100%;
    font-size: 0;
    display: flex;
    flex-direction: row;
}

.accordeon-menu__item {
    display: flex;
    height: 100%;
}

.accordeon-menu__trigger {
    height: 100%;
    display: block;
    width: rem(80px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    position: relative;
    float: left;
    border: none;
    cursor: pointer;

    @include phones {
        width: rem(70px);
    }
}

.accordeon-menu__item.active {
    position: relative;

        .accordeon-menu__trigger-text {
            color: $yellow;
            transition: 0.5s;
        }
}

.accordeon-menu__trigger-text {
    font-family: 'gagalinregular';
    font-size: rem(40px);
    color: #fff;
    white-space: nowrap;
    position: absolute;
    bottom: rem(40px);
    left: 50%;
    transform: rotate(270deg);
    transform-origin: 0;
}

.accordeon-menu__text {
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(49, 52, 54, 0.9);
    transition: width 0.4s;
}

.accordeon-menu__desk {
    height: 100%;
    width: rem(540px);
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.6;
    text-decoration: none;
    color: #f2f2f2;
    padding: rem(35px);

    @include phones {
        width: rem(240px);
    }
}

