.section__order {
    background-image: url(../img/bg/bg-order.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section__title-order {
    width: 100%;
    text-align: center;
}

.form {
    color: #fff;
    display: flex;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;
    }
}

.form__column {
    display: flex;
    flex-direction: column;
    width: 50%;

    &:last-child {
        margin-left: rem(20px);
    }

    @include tablets {
        &:last-child {
            margin-left: 0;
        }
        width: 45%;
    }
}

.form__row {
    margin-bottom: rem(20px);
    display: flex;
}

.form__block {
    display: block;
    flex: 1;
    margin-right: rem(20px);
    
    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    padding: rem(10px) rem(20px);
    background: #fff;
    border: none;
    border-radius: rem(5px);
    width: 100%;
}

.form__textarea {
    padding: rem(10px) rem(20px);
    background: #fff;
    border: none;
    border-radius: rem(5px);
    width: 100%;
    resize: none;
}

.form__title {
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    text-decoration: none;
    padding-bottom: rem(5px);
}

.form__radio {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.form__radio-fake {
    display: inline-block;
    vertical-align: middle;
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    position: relative;
    background-color: #fff;
       
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(10px);
        height: rem(10px);
        background-color: $orange;
        border-radius: 50%;
        display: none;
    }
}

.form__radio:checked + .form__radio-fake:after{
    display: inline-block;
}

.form__check {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.form__check-fake {
    display: inline-block;
    vertical-align: middle;
    width: rem(20px);
    height: rem(20px);
    position: relative;
    border-radius: rem(1px);
    background-color: #fff;
}

.form__check:checked + .form__check-fake:after{
    content: "\2714";
    font-size: rem(20px);
    color: $orange;
    position: absolute;
    top: rem(-3px);
    left: rem(3px);
}

.form__title-text {
    display: inline-block;
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    text-decoration: none;
    vertical-align: middle;
}

.form__btn-order {
    padding: rem(10px) rem(17px);
    background-color: $orange;
    border-radius: rem(5px);
    color: #fff;
    text-decoration: none;
    font-family: 'ubuntu';
    font-size: rem(13px);
    font-weight: 400;
    text-transform: uppercase;
    transition: .5s;
    border: initial;
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 10%);
    }
}

.form__btn-reset {
    padding: rem(10px) rem(17px);
    border-radius: rem(5px);
    color: #fff;
    text-decoration: none;
    font-family: 'ubuntu';
    font-size: rem(13px);
    font-weight: 400;
    border: initial;
    cursor: pointer;
    background: none;
}