.reviews {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.reviews__list {
    display: flex;
    flex-flow: row wrap;    
    align-content: stretch;
    height: 100%;
    width: 100%;
}

.reviews__item {
    width: 25%;
    height: 50%;
    position: relative;
    
    &:hover .reviews__info {
        display: block;
    }

    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.reviews__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.item__photo-1 {
    background-image: url(../img/content/image_1.png);
}

.item__photo-2 {
    background-image: url(../img/content/image_2.png);
    background-position: 10% 10%;
}

.item__photo-3 {
    background-image: url(../img/content/image_3.png);
    background-position: center;
}

.item__photo-4 {
    background-image: url(../img/content/image_4.png);
    background-position: center;
}

.item__photo-5 {
    background-image: url(../img/content/image_5.png);
    background-position: center;
}

.item__photo-6 {
    background-image: url(../img/content/image_6.png);
    background-position: center;
}

.item__photo-7 {
    background-image: url(../img/content/image_7.png);
    background-position: center;
}

.item__photo-8 {
    background-image: url(../img/content/image_8.png);
    background-position: center;
}

.reviews__info {
    height: 100%;
    width: 100%;
    padding-top: rem(50px);
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: rem(50px) rem(20px);

    @include tablets {
        padding: 0;
        text-align: center;
    }

    @include phones {
        display: flex;
        flex-direction: column;
        display: none;
    }
}

.reviews__name {
    width: rem(230px);
    height: rem(30px);
    color: #ffffff;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: normal;
    text-decoration: none;

    @include tablets {
        margin: 0 auto;
        padding-top: 5px;
        font-size: rem(12px);
    }

    @include phones {
        font-size: rem(26px);
        padding-top: 18%;
    }
}

.reviews__message {
    width: rem(230px);
    height: rem(150px);
    color: #ffffff;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: rem(14px);
    font-weight: normal;
    line-height: 1.42;
    text-decoration: none;

    @include tablets {
        margin: 0 auto;
        font-size: rem(12px);
        height: rem(102px);
    }

    @include phones {
        display: none;
    }
}

.review__btn {
    width: rem(110px);
    height: rem(35px);
    background-color: $dark;
    border-radius: rem(3px);
    color: #ffffff;
    text-align: center;
    padding-top: rem(8px);
    font-family: 'ubuntu';
    font-weight: 500;
    font-size: rem(14px);
    font-weight: normal;
    line-height: 1.42;
    &:hover {
        cursor: pointer;
        transition: .5s;
        background-color: darken($dark, 10%);
    }

    @include tablets {
        margin: 0 auto;
    }

    @include phones {
        margin-top: 35%;
    }
}

.reviews__modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 49, 51, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
}

.reviews__modal-container {
    height: rem(254px);
    width: rem(460px);
    background: #fff;
    border-radius: rem(5px);
    position: relative;
    padding: rem(30px) rem(20px);

    @include phones {
        width: 90%;
    }
}

.reviews__modal-name {
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: normal;
    text-decoration: none; 
    margin-bottom: rem(20px);
}

.reviews__modal-message {
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 400;
    text-decoration: none; 
    line-height: 1.6;
}

.reviews__modal-close {
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    cursor: pointer;
}

/*.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 49, 51, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay__container {
    position: relative;
}

.overlay__close {
    position: absolute;
    
}

.overlay__content {
    height: rem(254px);
    width: rem(460px);
    background: #fff;
    border-radius: rem(5px);
}*/

