.section__reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__list {
    display: flex;
    flex-flow: row wrap;    
    align-content: stretch;
}

.reviews__item {
    width: 25%;
    height: 50%;
}

.item__photo {
    display: none;
}