.slider {
    background: linear-gradient(#f9b43b, #eb8c38, #f9b43b);
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider__arrow-left {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: -3%;

    @include laptop {
        left: 15%;
        z-index: 1;
    }

    @include tablets {
        left: 25%;
    }

    @include phones {
        left: 34%;
    }
}

.slider__left {
    height: rem(16px);
    width: rem(30px);
    transform: rotate(90deg);
}

.slider__triangle-left {
    fill: #fff;
    height: rem(16px);
    width: rem(30px);
}

.slider__container {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: rem(500px);
    position: relative;

    @include laptop {
        height: 90%;
    }
}

.slider__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex: .98;
    align-items: center;
    overflow: hidden;
}

.slider__list {
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    transition: left 0.7s;
    position: relative;
}

.slider__item {
    display: flex;
    width: rem(926px);
    height: 100%;
    align-items: center;
    position: relative;

    @include laptop {
        flex-direction: column;
    }

    @include tablets {
        width: 921px;
    }
}

.slider__img {
    position: relative;
    overflow: hidden;
    display: flex;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    height: rem(380px);
    width: rem(380px);


    @include laptop {
        width: 35%;
        height: 55%;
    }

    @include tablets {
        width: 30%;
        height: 50%;
        margin-top: 5%;
    }

    @include phones {
        width: 20%;
        height: 40%;
        margin-top: 8%;
    }
}

.slider__burger {
    min-width: 100%;
    height: auto;
    display: flex;
}

.slider__composition {
    height: rem(90px);
    width: rem(90px);
    background-color: #f08c33;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: rem(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
    &:hover {
        background-color: darken($orange, 5%);
        &:hover .slider__composition-prod {
            display: block;
        }
    }

    @include laptop {
        left: 15%;
    }

    @include tablets {
        left: 25%;
    }

    @include phones {
        left: 34%;
    }
}

.slider__composition-burger {
    height: rem(42px);
    width: rem(44px);
    fill: #fff;
}

.slider__composition-text {
    color: #fff;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: 300;
}

.slider__composition-prod {
    height: rem(332px);
    width: rem(270px);
    background-color: #fff;
    border-radius: rem(5px);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: rem(90px);
    z-index: 1;
    display: none;
}

.slider__composition-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.slider__composition-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: rem(20px);
}

.slider__composition-icon {
    height: rem(37px);
    width: rem(42px);
}

.slider__composition-desk {
    color: $dark;
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 500;
    margin-left: rem(20px);
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    padding-right: rem(20px);
}

.slider__calories {
    height: rem(80px);
    width: rem(65px);
    position: absolute;
    bottom: 0;
    left: rem(35px);

    @include laptop {
        left: 75%;
        top: 0;
    }

    @include tablets {
        left: 67%;
    }

    @include phones {
        left: 60%;
    }
}

.slider__calories-kkal {
    height: rem(60px);
    width: rem(60px);
    fill: #f9d4af;
}

.slider__calories-n {
    color: #f9d4af;
    font-family: 'gagalinregular';
    font-size: rem(20px);
    font-weight: 300;
    position: absolute;
    top: rem(25px);
    left: rem(14px);
}

.slider__calories-k {
    color: #f9d4af;
    font-family: 'gagalinregular';
    font-size: rem(14px);
    font-weight: 300;
    position: absolute;
    left: rem(14px);
    bottom: 0;
}

.slider__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @include laptop {
        width: 65%;
    }

    @include tablets {
        margin-top: 5%;
    }

    @include phones {
        width: 45%;
        margin-top: 0;
    }
}

.section__title-slider {
    color: #fff;
    font-family: 'gagalinregular';
    font-size: rem(72px);
    font-weight: 300;
    line-height: 0.9;
    margin: 0;
    width: 99%;
    padding-bottom: rem(40px);

    @include laptop {
        text-align: center;
        font-size: rem(65px);
        padding-bottom: rem(25px);
    }

    @include tablets {
        font-size: rem(56px);
        text-align: center;
        font-size: rem(49px);
    }

    @include phones {
        width: 65%;
    }
}

.slider__text {
    color: #fbe8d7;
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.45;
    text-decoration: none;
    width: 99%;

    @include laptop {
        text-align-last: center;
    }

    @include tablets {
        width: 70%;
    }

    @include phones {
        width: 70%;
    }
}

.slider__order {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 99%;

    @include laptop {
        justify-content: center;
    }

    @include phones {
        //margin-top: 5%;
    }
}

.section__title-price1 {
    color: $orange;
    margin-right: rem(5px);
}

.section__title-price2 {
    color: $orange;
    font-size: rem(30px);
    margin-right: rem(28px);
}

.slider__arrow-right {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -3%;

    @include laptop {
        right: 15%;
        z-index: 1;
    }

    @include tablets {
        right: 25%;
    }

    @include phones {
        right: 34%;
    }
}

.slider__right {
    height: rem(16px);
    width: rem(30px);
    transform: rotate(270deg);
}

.slider__triangle-right {
    fill: #fff;
    height: rem(16px);
    width: rem(30px);
}