.section__start {
    background-image: url(../img/bg/video-bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.start {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.tablets {
    display: none;

    @include tablets {
        display: none;
        background-color: $dark;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 10000;
        flex-direction: column;
    }
}

.tablets__header {
    display: flex;
}

.tablets__header-close {
    margin: rem(30px);
}

.tablets__menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav__list-tabl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__item-tabl {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
    &:after {
        display: flex;
        content: ' ';
        @include circle(rem(5px), #fff);
        margin-top: rem(29px);
        margin-bottom: rem(29px);
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link-tabl {
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase; 
    text-decoration: none;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.header__menu{
    @include tablets {
        display: none;
    }
}

.nav {
    margin-right: rem(15px);
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        @include circle(rem(5px), #fff);
        margin: 0 rem(12px);
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase; 
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}

.header__menu-tablets {
    vertical-align: middle;
    position: relative;
    height: rem(22px);
    align-items: center;
    margin-left: rem(30px);
    margin-right: rem(31px);
    display: none;

    @include tablets {
        display: inline-block;
    }
} 

.header__menu-tablets-item {
    height: rem(22px);
    white-space: rem(24px);
}

.header__menu-tablets-link {
    display: inline-block;
    background: #fff;
	width: rem(24px);
	height: rem(5px);
    border-radius: rem(3px);
    position: relative;
    
    &:before {
        content: "";
        background: #fff;
	    width: rem(24px);
	    height: rem(5px);
        border-radius: rem(3px);
        position: absolute;
        top: rem(10px);
    }

    &:after {
        content: "";
        background: #fff;
	    width: rem(24px);
	    height: rem(5px);
        border-radius: rem(3px);
        position: absolute;
        bottom: rem(10px);
    }
}

.start__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.start__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: .9;
    align-items: center;
    justify-content: center;
}

.start__img, .start__description {
    flex-basis: 50%;
    flex: 1 1 100px;
    -webkit-box-flex: 1;
    margin-right: rem(20px);
    
    @include tablets {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-basis: auto;
        flex: initial;
    }
}

.start__burger {
    max-width: 100%;
    height: auto;

    @include tablets {
        width: 75%;
        height: 100%;
    }
}

.start__description {
    flex-direction: column;
    justify-content: center;
}

.section__title {
    color: #f9b43b;
    font-family: 'gagalinregular';
    font-size: rem(72px);
    font-weight: 300;
    line-height: 1.42;
    margin: 0;

    @include tablets {
        font-size: rem(56px);
        text-align: center;
    }
}

.start__description-text {
    color: #ffffff;
    font-family: 'lifehackmedium';
    font-size: rem(65px);
    line-height: 1.42;
    width: rem(415px);

    @include tablets {
        font-size: rem(49px);
        text-align: center;
    }
}

.control {
    position: absolute;
    bottom: rem(10px);
}

.control__link {
    height: rem(16px);
    width: rem(30px);
}

.control__img {
    fill: #fff;
    height: rem(16px);
    width: rem(30px);
}


