.best {
    background-image: url(../img/bg/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title--best {
    color: #2f3234;
    padding-bottom: rem(40px);
}

.best__list {
    display: flex;
    justify-content: space-around;

    @include tablets {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: rem(115px);
    }

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.best__item {
    width: 30%;
    height: rem(300px);
    display: inline-block;
    vertical-align: top;
    text-align: center;

    @include tablets {
        width: 25%;
    }

    @include phones {
        width: 90%;
        display: flex;
        height: rem(180px);

    }
}

.best__logo {
    @include phones {
        width: 30%;
    }
}

.best__desk {
    @include phones {
        text-align: left;
        margin-left: rem(30px);
        display: flex;
        flex-direction: column;
    }
}

.best__title{
    font-family: 'lifehackmedium';
    font-size: rem(24px);
    font-weight: normal;
    line-height: 1.42;
    text-decoration: none;
    padding-top: rem(20px);
    padding-bottom: rem(10px);
}

.best__text {
    font-family: 'ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.45;
    text-decoration: none;
}  