.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    //min-width: 940px + 20px;
    //min-height: 100%;
    overflow: hidden; ///
}

.maincontent {
    height: 100%; ///
    min-height: 650px; /// 
    transition: 1s; ///
    will-change: transform; ///
}

.container {
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    height: 100%;
    background-color: rgba(0,0,0,0.31);
    min-height: 650px;
}

.order-link {
    min-width: 98px;
    padding: 10px 17px;
    border-radius: 5px;
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    font-family: 'ubuntu';
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    &:hover {
        background-color: darken($orange, 10%);
    }
}
/*
.nav-section {
    position: fixed;
    top: 75px;
    right: 50px;
}

.sidebar__item {
    margin-bottom: 15px;
}

.sidebar__link {
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    &:before {
        width: 0;
        height: 0;
        border-radius: 50%;
        border: 1px solid #fff;
        opacity: 0;
        transition: .3s;
    }

    &:after {
        width: 6px;
        height: 6px;
        background: #fff;
    }

    &:hover:before{
        width: 16px;
        height: 16px;
        opacity: 1;
      }
}*/

.nav__sidebar {
	position: fixed;
	top: rem(90px);
	right: rem(40px);

	/*@include laptop {
		display: none;
	}*/
}

.sidebar__link {
	width: rem(16px);
	height: rem(16px);
	display: block;
	position: relative;

	&:after, &:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	&:after {
		width: rem(6px);
		height: rem(6px);
		background: #fff;
	}

	&:before {
		width: rem(0px);
		height: rem(0px);
		border-radius: 50%;
		border: rem(1px) solid #fff;
		opacity: 0;
		transition: .3s;
	}

	&:hover {
		&:before {
			width: rem(14px);
			height: rem(14px);
			opacity: 1;
		}
	}
}

.sidebar__item {
	&.active {
		.sidebar__link {
			&:before {
				width: rem(14px);
				height: rem(14px);
				opacity: 1;
			}
		}
	}
}

.sidebar__item {
	margin-bottom: rem(5px);
}