.section__menu {
  background-image: url(../img/bg/bg-menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.section__title-menu {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 10%; }

.accordeon-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 52, 54, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.accordeon__item-name {
  font-family: 'gagalinregular';
  font-size: 40px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
