.section__one {
    height: 100%;
    width: 100%;
    background-size: contain;
}

.section__page_one {
    background-image: url(../../img/start-page/video-bg.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
}

.header {
    height: 80px;
    width: 950px;
    text-align: center;
    margin: 0 auto;
}

.header__logo {
    height: 70px;
    width: 90px;
    display: inline-block;
}

.header__nav {
    width: 530px;
    height: 55px;
    display: inline-block;
}

.nav__item {
    display: inline-block;
}

.nav__item_link {
    font-family: 'ubuntumedium';
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
}

.header__button {
    display: inline-block;
}

.button__order {
    background-color: #e45028;
    border-color: #e45028;
    border-radius: 3px;
    height: 35px;
    width: 97px;
    cursor: pointer;
}

.button__order_text {
    font-family: 'ubuntumedium';
    font-size: 13px;
    color: #ffffff;
}

.content {
    width: 940px;
    height: 440px;
    text-align: center;
    margin: 0 auto;
}

.content__images {
    width: 470px;
    height: 390px;
    display: inline-block;
}

.content__image {
    width: 465px;
    height: 385px;
}

.content__slogan {
    width: 430px;
    height: 390px;
    display: inline-block;
}

.slogan__part1 {
    width: 400px;
    height: 80px;
    font-family: 'gagalinregular';
    font-size: 72px;
    color: #f9b43b;
}

.slogan__part2 {
    width: 415px;
    height: 135px;
    font-family: 'lifehackmedium';
    font-size: 58px;
    color: #ffffff;
}

.control__down {
    height: 45px;
    width: 70px;
    text-align: center;
    margin: 0 auto;
}