.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #00bfa5;
  width: 25px;
  height: 25px; }
  .icon:hover {
    fill: crimson; }
  .icon:first-child {
    margin-left: 0; }
